<% if show_intro? %>
  <div class="intro-text">
    <p><%= t(".purpose") %></p>
    <h2><%= t(".find_trial") %></h2>
    <p><%= t(".instructions_html") %></p>
    <p><%= t(".clinical_trials") %></p>
  </div>
<% end %>
