<div class="search-result-links">
  <%= link_to trials_path(session[:search_params]) do %>
    <span class="infographic-item icon-back">
      <%= t(".return_to_search") %>
    </span>
  <% end %>

  <% if search_results.present? %>
    <div class="navigation-links">
      <%= previous_trial_link(@trial.id) %>
      <%= next_trial_link(@trial.id) %>
    </div>
  <% end %>
</div>
