<% if @trials.count > WillPaginate.per_page %>
  <div class="pagination-panel apple-pagination">
    <%= will_paginate @trials, container: false, inner_window: 3, outer_window: 0 %>
  </div>
<% end %>
