<% if @trial_filter_form.trials.count > WillPaginate.per_page %>
  <div class="pagination-panel apple-pagination">
    <%= will_paginate @trial_filter_form.trials, container: false, inner_window: 3, outer_window: 0 %>
  </div>
<% end %>
