<%= render "search_filter" %>

<main class="trial-results">
  <% if @trial_filter_form.invalid? %>

    <%= render "invalid_search" %>

  <% elsif @trial_filter_form.trials.empty? %>

    <%= render "empty_results" %>

  <% else %>

    <%= render "trial_results", trials: @trial_filter_form.trials %>
  <% end %>
</main>
