.expander {  
  ///////////////////////////////////////////////////////////////////////////////////
  $base-font-size: 1em !default;
  $base-line-height: 1.5em !default;
  $base-spacing: 1.5em !default;
  $base-accent-color: #477DCA !default;
  $base-link-color: $teal-blue;
  $dark-gray: #333 !default;
  $light-gray: #DDD !default;
  $base-font-color: $dark-gray !default;
  
  p {
    line-height: $base-line-height;
  }

  //////////////////////////////////////////////////////////////////////////////////

  $expander-arrow-width: 0.7em;
  $expander-toggle-size: $base-spacing;
  $expander-toggle-arrow-size: $expander-toggle-size;
  $expander-toggle-margin: 1em;

  .expander-trigger {
    color: $base-link-color;
    /*@include user-select(none);*/
    cursor: pointer;
    display: block;
    font-size: $expander-toggle-size;
    padding: $expander-toggle-size;
    background-color: $light-gray;

    &:before {
      font-size: $expander-arrow-width;
      content: "\25BC";
      margin-right: 0.5em;
    }

    &:hover {
      background-color: $light-gray;
    }

    &:last-child {
      border-bottom: 1px solid $light-gray;
    }
  }

  .expander-hidden {
    background-color: $white;

    &:before {
      font-size: $expander-arrow-width;
      content: "\25BA";
    }
  }

  .expander-hidden + .expander-content {
    display: none;
  }

  .expander-content {
    padding: $base-spacing;

    h2 {
      margin: $base-spacing 0;
    }
  }

  &.border {
    border: 1px solid $sidebar-border;
    border-bottom: 0;

    &:last-child {
      border-bottom: 1px solid $sidebar-border;
    }
  }

  .infographic-item {
    &::before {
      height: 1.2em;
    }
  }
}
