.trial-sidebar {
  background-color: $sidebar-gray;
  border-left: $base-border-width solid $sidebar-border;
  border-right: $base-border-width solid $sidebar-border;
  flex: 1;

  &::before {
    content: "";
    display: none;
  }

  .section {
    padding: $base-spacing $large-spacing;
  }
}

.trial-sidebar-search-parameters {
  padding-bottom: $base-spacing;
  border-bottom: $base-border-width solid $sidebar-border;

  .input {
    margin-bottom: $base-spacing;
  }
}

.google-map {
  border: 0;
  height: 200px;
  width: 100%;
  margin-bottom: $base-spacing;
}
