@charset "utf-8";

@import "bourbon";

.small-text-override {
  font-size: modular-scale(-1) !important;
}

.article-header h9 {
  a, a:link, a:active, a:visited {
    color: inherit;
    text-decoration: none;
  }
}

#clinical-trial-finder {
  @import "base/base";
  @import "refills/tables";
  @import "refills/expander";

  @import "components/sidebar";
  @import "components/navigation";
  @import "components/infographic";

  .trial-base-container {
    display: flex;
  }

  .import-logs,
  .trial-results,
  .trial-page {
    @include padding($large-spacing);
    flex: 2;

    .section {
      margin-top: $large-spacing;
    }
  }

  .trial-results {
    border-bottom: 0;
  }

  .intro-text {
    @include padding($large-spacing);
    border-bottom: $base-border-width solid $medium-gray;

    h2 {
      margin-top: $large-spacing;
    }
  }

  .trial-count {
    margin-bottom: $small-spacing;
    text-align: right;
  }

  .trial-list li {
    @include padding($base-spacing $small-spacing);
    border-bottom: 1px solid $medium-gray;
  }

  .pull-right {
    float: right;
  }

  .formatted-text li {
    margin-left: 25px;
  }

  .multiple-element-link {
    color: inherit;
    transition: none;

    &:hover {
      background-color: $light-gray;
      color: inherit;
      display: block;
      text-decoration: none;
    }
  }

  .more-link {
    color: $action-color;
    font-family: "Open Sans", sans-serif;
    font-weight: 700 !important;
    text-transform: uppercase !important;
    margin: $small-spacing null;

    &::before {
      content: "\25b8 \a0";
    }
  }

  .center {
    text-align: center;
  }

  .reset-link {
    font-size: $large-font-size;
    font-weight: bold;
  }

  .resource-links li {
    margin-bottom: $base-spacing;
  }
}
