@charset "utf-8";

@import "bourbon";

h1 a:hover {
  text-decoration: none;
}

.small-text-override {
  font-size: 1em !important;
}

#clinical-trial-finder {
  @import "base/base";
  @import "refills/tables";
  @import "refills/expander";

  @import "components/sidebar";
  @import "components/navigation";
  @import "components/infographic";

  .trial-base-container {
    display: flex;
  }

  .import-logs,
  .trial-results,
  .trial-page {
    @include padding($large-spacing);
    flex: 2;
  }

  .intro-text {
    @include padding($large-spacing);
    background-color: $light-gray;
    border: $base-border-width solid $medium-gray;

    h2 {
      margin-top: $large-spacing;
    }
  }

  .trial-count {
    margin-bottom: $small-spacing;
    text-align: right;
  }

  .trial-list li {
    @include padding($large-spacing $small-spacing);
    border-bottom: 1px solid $medium-gray;
  }

  .section {
    @include margin($large-spacing null);
  }

  .pull-right {
    float: right;
  }

  .formatted-text li {
    margin-left: 25px;
  }

  .multiple-element-link {
    color: inherit;
    transition: none;

    &:hover {
      background-color: $light-gray;
      color: inherit;
      display: block;
    }
  }

  .more-link {
    color: $action-color;
    font-family: "Open Sans", sans-serif;
    font-weight: 700 !important;
    text-transform: uppercase !important;

    &::before {
      content: "\25b8 \a0";
    }
  }
}
