<ul>
  <li><%= link_to t(".overview"), root_path %></li>
  <li><%= link_to t(".trial_connector"), trials_path %></li>
  <li><%= link_to t(".blog"), articles_path %></li>
  <li><%= link_to t(".faq"), frequently_asked_questions_path %></li>
</ul>
